@model Ogretmen
@{
    ViewData["Title"] = "Delete";
}

<p>
    <b>@Model.Ad @Model.Soyad</b> isimli öğretmeni silmek istiyor musunuz?

    <form asp-action="Delete" method="post">
        <input type="hidden" name="modelid" value="@Model.OgretmenId" />
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p>